// app global css in SCSS form

.q-header {
  height: var(--header-height);
  background-color: $carbon;
}

body {
  font-family: 'MuseoSans', Roboto, sans-serif;
}

.font-size-13 {
  font-size: 13px;
}

.line-28 {
  line-height: 28px;
}
